.macbook {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    z-index: 1;
  }

  .macbook-content {
    position: absolute;

    & > img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 80%;
    }
  }
}