@import '../../../assets/stylesheets/colors';

.about-section {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  position: relative;

  .heading {
    position: absolute;
    color: $heading1;
    right: 50px;
    font-weight: 900;
    font-size: 200px;

    @media screen and (max-width: 1280px) {
      font-size: 150px;
    }

    @media screen and (min-width: 0px) and (max-width: 720px) {
      font-size: 50px;
      right: 10px;
    }

    @media screen and (min-width: 720px) and (max-width: 1080px) {
      font-size: 90px;
      right: 10px;
    }
  }

  .about-section-details {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    padding: 250px 0 100px;

    @media screen and (min-width: 0px) and (max-width: 720px) {
      padding: 100px 0;
    }
  }
}