@import '../../assets/stylesheets/colors';

.work-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 4px;
  gap: 10px;
  position: sticky;
  top: 20%;
  background-color: $background1;

  .work-card-title {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    a:link {
      text-decoration: none;
    }

    a:visited {
          text-decoration: none;
    }

    a:hover {
          text-decoration: none;
    }

    a:active {
          text-decoration: none;
    }

    .title {
      color: $white;
      text-align: left;
      word-wrap: break-word;

      @media screen and (min-width: 1281px) {
        font-size: 30px;
      }

      @media screen and (min-width: 1080px) and (max-width: 1280px) {
        font-size: 25px;
      }

      @media screen and (min-width: 720px) and (max-width: 1079px) {
        font-size: 20px;
      }

      @media screen and (min-width: 390px) and (max-width: 719px) {
        font-size: 15px;
      }
    }

    .button {
      background-color: $cardbutton;
      padding: 5px;
      border-radius: 4px;
      color: $white;
    }
  }

  .work-card-image {
    height: max-content;
    width: 60%;
    background-color: $white;
    padding: 5px;
    border-radius: 4px;

    & > img {
      border-radius: 4px;
    }
  }
}