// BACKGROUND COLORS

$background1: #130F1C;
$background2: #0D0B11;
$cardbackground: #121322;

// COMMON COLORS
$purple: #4600D7;
$white: #ffffff;
$grey: #757479;
$black: #000000;
$red: #DA003C;
$yellow: #E7FF27;
$green: #29E282;
$neon: #28E42D;
$orange: #DC8C1C;
$dot: #2C2641;
$comment: #655D6B;

// HEADING

$heading1: #191528;


// BUTTON

$cardbutton: #3B54FE;